body{
    background-color:  #FFE4CF;
    font-family: Georgia; 
}


.blog-post-title{
    font-size: 24px; 
    font-weight: bold;
}

.blog-post{
    flex:1;
    margin: 10px;
    padding:10px;
    border: 1px solid #B2AC88
}
img{
    width: 70%; 
}

#LY-jpg {
    width: 30%;
}


table {
    border: 2px solid #000;
}

tr {
    border: 1px solid #ccc; 
}