body{
    background-color:  #FFE4CF;
    font-family: Georgia; 
    color:  #5D4617; 
    
}

.nav-head{
    position: sticky;
    top: 0; 
    background-color: #B0AF93; 
    color: #FFE4BE; 
    padding: 10px;
    display: flex; 
    justify-content: center; 
    align-items: center; 
}

.nav-head nav ul li {
    display: inline;
    margin-right: 20px;
    margin-left: 20px;
}

.nav-head nav a {
    text-decoration: none;
    color: #006D77; 
}

.blog-post-title{
    font-size: 24px; 
    font-weight: bold;
}

.blog-post{
    flex:1;
    margin: 10px;
    padding:10px;
    border: 1px solid #B2AC88
}
img{
    width: 70%; 
}

#LY-jpg {
    width: 30%;
}


table {
    border: 2px solid #000;
}

tr {
    border: 1px solid #ccc; 
}