body{
    background-color:  #FFE4CF;
    font-family: Georgia; 
    color:  #5D4617; 
    align-items: center;   
    font-size: 14px; 
    padding: 15px;
}

p{
text-align: center; 
}

h2{
    font-size: 24px; 
    font-weight: bold;
    text-align:center;
}

.nav-head{
    position: sticky;
    top: 0; 
    background-color: #B0AF93; 
    color: #FFE4BE; 
    padding: 10px;
    display: flex; 
    justify-content: center; 
    align-items: center; 
}

.nav-head nav ul li {
    display: inline;
    margin-right: 20px;
    margin-left: 20px;
}

.nav-head nav a {
    text-decoration: none;
    color: #66786B; 
}

.blog-post{
    flex:1;
    margin: 0 auto; 
    padding: 20px;
    max-width: 600px; 
    border: 1px solid #B2AC88
}

img{
    width: 70%; 
}

.about-section{
    margin:10px;
}

.about-content{
    display:flex;
    align-items:center;
}

#LY-jpg {
    width: 70%;
    float: left; 
    margin-right: 10px;
}

.image-container {
    width: 70%; 
    float: left;
    margin-right: 10px;
}

.image-caption{
    clear: left; 
}

.caption{
    font-size: 11px; 
}
table {
    border: 2px solid #000;
}

tr {
    border: 1px solid #ccc; 
}

.games-list li{
    text-align:center;
}